page-home {

}

.icons-basic-page {



  button{
    height: 70px;
    ion-icon {
      font-size: 50px;
      ion-badge{
        background-color: red;
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 50%;
      }
      span{
        font-size: 20px;
        position: absolute;
        bottom: 0px;
      }
      text-align: center;
      vertical-align: middle;
    }
  }

  ion-row {
    height: 100%;
    flex-wrap: wrap;
  }

  ion-col {
    flex: 0 0 25%;
    max-width: 50%;
    text-align: center;
    padding: 10px 5px;
  }

}
