<ion-header>

  <ion-navbar>

    <ion-title>Icons</ion-title>

  </ion-navbar>

</ion-header>


<ion-content text-center class="icons-basic-page">
  <ion-grid>
    <ion-row>
      <ion-col col-4 *ngFor="let item of categories">
        <button ion-button clear>
          <ion-icon name={{item.iconName}} color={{item.color}}>
            <ion-badge *ngIf="item.todoCount!='0'">{{item.todoCount}}</ion-badge>
          </ion-icon>
        </button>
        <div class="category-name">{{item.title}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
