page-home {

}

.icons-basic-page {



  button{
    height: 50px;
    margin-bottom: 5px;
    ion-icon {
      font-size: 50px;
      ion-badge{
        background-color: red;
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 50%;
      }
    }
  }

  .category-name{
    color: #007aff;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
  }
}
